<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/vendor/bootstrap.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>
</head>
<body>
  <div id="app">
    <div class="contaienr">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <form id="formLogin">
          <div class="form-group">
            <h1 class="h3 text-center">請先登入</h1>    
          </div>
          <div class="form-group">
            <label for="username">Email address</label>
            <input v-model="user.username" type="email" class="form-control" name="username" id="username" placeholder="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input v-model="user.password" type="password" class="form-control" id="password" placeholder="password">
          </div>
          <button @click="login" type="button" class="btn btn-primary btn-block">登入</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js' integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw==' crossorigin='anonymous'></script>
  <script>
    const app = {
      data(){
        return {
          user :{
            username: '',
            password: ''
          },
          apiUrl : "https://vue3-course-api.hexschool.io",

        }
      },
      methods:{
        login(){
          axios.post(`${this.apiUrl}/admin/signin`,this.user).then((res) => {
              if(res.data.success){
                const{expired,token} = res.data;
                console.log(expired,token);
                // 寫入 cookie
                document.cookie = `shop=${token}; expires=${new Date(expired)}`;
                console.log(document.cookie);
                setTimeout(() => {
                  // location.replace('./dashboard.html')
                }, 1000);
              }else{
                alert(res.data.message)
              }
            }).catch((error)=>{
              console.log(error);
            })
        },
        checklogin(){
          // if(document.cookie !== ''){
            const token = document.cookie.replace(/(?:(?:^|.*;\s*)shop\s*=\s*([^;]*).*$)|^.*$/, '$1');
            if(token === '') { return false; }
            
            axios.defaults.headers.common['Authorization'] = token;
            axios.post(`${this.apiUrl}/api/user/check`)
            .then((res)=>{
              if(res.data.success){
                alert('已有登入狀態~ 跳轉中~')
                location.replace('./dashboard.html')
              }else{
                alert('沒有登入狀態請輸入帳密')
              }
            }).catch((error)=>{
              console.log(error);
            })

        }
      },
      created(){
        this.checklogin()
      }

    }
    Vue.createApp(app).mount('#app');
  </script>
</body>
</html>