<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2021-Live-Vue-JS-week5</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <style>
      .bg-cover {
        background-position: center center;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- loading -->
      <loading :active="loadingStatus.fullScreeningLoading"></loading>

      <!-- 產品區塊 -->
      <div class="container">
        <h3>產品區塊</h3>
        <div class="row">
          <div class="col-md-4 mb-3" v-for="item in products" :key="item.id">
            <div class="card h-100">
              <img :src="item.imageUrl" class="card-img-top" alt="圖片" />
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div>
                    <div class="badge rounded-pill bg-secondary h5">
                      {{item.category}}
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <template v-if="item.origin_price === item.price">
                    <span class="h5 ms-auto">${{item.origin_price}}</span>
                  </template>
                  <template v-else>
                    <del>${{item.origin_price}}</del>
                    <span class="text-danger h5 ms-auto">${{item.price}}</span>
                  </template>
                </div>
                <div class="d-flex justify-content-center">
                  <button
                    @click="getProductDetail(item.id)"
                    class="btn btn-outline-primary me-3"
                    type="button"
                  >
                    <span
                      v-if="loadingStatus.itemLoading === item.id"
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                    >
                    </span>
                    <!-- Loading... -->

                    看詳細
                  </button>
                  <button
                    @click="addCart(item.id)"
                    class="btn btn-danger"
                    type="button"
                  >
                    <span
                      v-if="loadingStatus.itemLoading === item.id"
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>

                    加入購物車
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <template v-if="pagination">
          <pagination
            :pagination="pagination"
            @get-products="getProducts"
          ></pagination>
        </template>
        <hr>
        <div class="row">
          <div class="col-md-7">
            <!-- 購物車區塊 -->
            <div class="row">
              <div class="text-end">
                <button
                  @click="deleteAllCart"
                  class="btn btn-sm btn-outline-danger"
                >
                  清空購物車
                </button>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">商品選項</th>
                    <th scope="col">單價</th>
                    <th scope="col">數量</th>
                    <th scope="col">小計</th>
                    <th scope="col">刪除</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="cart in carts.carts" :key="cart.id">
                    <th>
                      <div class="cart__title d-flex">
                        <div class="me-3">
                          <img
                            :src="cart.product.imageUrl"
                            :alt="cart.product.title"
                            width="50"
                            class="img-fluid"
                          />
                        </div>
                        <div class="cart__title__content">
                          <div class="h6">{{cart.product.title}}</div>
                          <p>規格</p>
                        </div>
                      </div>
                    </th>
                    <td class="text-end">NT ${{cart.product.price}}</td>
                    <td>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic checkbox toggle button group"
                      >
                        <button
                          :disabled="currentCartId === cart.id"
                          @click="cartHandler('put', cart.id , cart.product.id , ++cart.qty)"
                          type="button"
                          class="btn btn-primary"
                        >
                          +
                        </button>

                        <input
                          :disabled="currentCartId === cart.id"
                          @change="cartHandler('put', cart.id , cart.product.id , ++cart.qty)"
                          v-model="cart.qty"
                          type="number"
                          min="1"
                          class="form-control rounded-0"
                          style="width: 80px"
                        />

                        <button
                          :disabled="currentCartId === cart.id"
                          @click="cartHandler('put', cart.id , cart.product.id , --cart.qty)"
                          type="button"
                          class="btn btn-primary"
                        >
                          -
                        </button>
                      </div>
                    </td>
                    <td class="text-end">NT ${{cart.final_total}}</td>
                    <td>
                      <button
                        @click="cartHandler('delete', cart.id)"
                        class="btn btn-sm btn-outline-danger"
                      >
                        刪除
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="text-end" colspan="100">
                      原價 NT $ {{carts.total}}
                    </td>
                  </tr>
                  <tr>
                    <td class="text-end" colspan="100">
                      總價 NT $ {{carts.final_total}}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="col-md-5">
            <!-- 驗證區塊 -->
            <!-- <v-form>
              <v-field
                id="email"
                name="email"
                type="email"
                class="form-control"
                :class="{ 'is-invalid': errors['email'] }"
                placeholder="請輸入 Email"
                rules="email|required"
                v-model="user.email"
              ></v-field>
              <error-message name="email" class="invalid-feedback"></error-message>
            </v-form> -->
            <v-form @submit="submitOrder" v-slot="{ errors }">
              <div class="mb-3">
                <label for="name" class="form-label">姓名</label>
                <v-field
                  v-model="user.name"
                  id="name"
                  name="姓名"
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': errors['姓名'] }"
                  placeholder="請輸入 姓名"
                  rules="required"
                ></v-field>
                <error-message name="姓名" class="invalid-feedback"></error-message>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <v-field
                  v-model="user.email"
                  id="email"
                  name="email"
                  type="email"
                  class="form-control"
                  :class="{ 'is-invalid': errors['email'] }"
                  placeholder="請輸入 Email"
                  rules="email|required"
                ></v-field>
                <error-message name="email" class="invalid-feedback"></error-message>
              </div>

              <div class="mb-3">
                <label for="tel" class="form-label">電話</label>
                <v-field
                  v-model="user.tel"
                  id="tel"
                  name="電話"
                  type="tel"
                  class="form-control"
                  :class="{ 'is-invalid': errors['電話'] }"
                  placeholder="請輸入 電話"
                  rules="required|min:8|max:10"
                ></v-field>
              <error-message name="電話" class="invalid-feedback"></error-message>
              </div>
              <div class="mb-3">
                <label for="addr" class="form-label">地址</label>
                <v-field
                  v-model="user.addr"
                  id="addr"
                  name="地址"
                  type="text"
                  class="form-control"
                  :class="{ 'is-invalid': errors['地址'] }"
                  placeholder="請輸入 地址"
                  rules="required"
                ></v-field>
                <error-message v-model="user.addr" name="地址" class="invalid-feedback"></error-message>

              </div>
              <div class="mb-3">
                <label for="message" class="form-label">留言</label>
                <textarea v-model="user.msg" class="form-control" id="message" placeholder="請輸入留言" aria-describedby="message"></textarea>
              </div>
              <button class="btn btn-primary" type="submit">送出訂單</button>
            </v-form>
            <!-- <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email">
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">收件人姓名</label>
                <input type="text" class="form-control" id="name" aria-describedby="name">
              </div>
              <div class="mb-3">
                <label for="tel" class="form-label">收件人電話</label>
                <input type="number" class="form-control" id="tel" aria-describedby="tel">
              </div>
              <div class="mb-3">
                <label for="addr" class="form-label">收件人地址</label>
                <input type="text" class="form-control" id="addr" aria-describedby="addr">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">留言</label>
                <textarea class="form-control" id="message" aria-describedby="message"></textarea>
              </div>
              <input type="submit" class="btn btn-danger" value="送出訂單">
            </form> -->


          </div>
          </div>
        </div>
      <!-- productDetailModal -->
      <product-detail-modal
        @add-cart="addCart"
        :product="tempProductDetail"
        @clear-temp-product-detail="clearTempProductDetail"
        ref="productDetail"
      ></product-detail-modal>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      crossorigin="anonymous"
    ></script>

    <!-- Vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <!-- Lastly add this package -->
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@4/dist/vue-loading.css"
      rel="stylesheet"
    />

    <!-- validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>

    <!-- 分頁  template -->
    <script type="x-template" id="pagination">
      <nav>
        <ul class="pagination justify-content-center">
          <li @click="getProducts(watchPagination.currentPage-1)" class="page-item " :class="{disabled: !watchPagination.has_pre}">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li @click="getProducts(page)" v-for="page in watchPagination.total_pages" :class="{active: page === watchPagination.current_page}" :key="page" class="page-item">
            <a class="page-link" href="#">{{page}}</a>
          </li>
          <li @click="getProducts(watchPagination.current_page+1)" class="page-item"  :class="{disabled: !watchPagination.has_next}">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </script>
    <!-- 產品詳細 -->
    <script type="x-template" id="productDetailTemplate">
      <div ref="modal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{watchProduct.title}}產品詳細</h5>
              <button @click="closeModal" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="slide__main p-3">
                      <div class="bg-cover img-fluid" :style = "`background-image: url(${watchProduct.imageUrl})`" style="min-height: 350px ;" alt="watchProduct.title"></div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="d-flex flex-column justify-content-between h-100">
                      <h1 class="p-3">#{{watchProduct.title}} </h1>
                      <!-- <div class="d-flex mb-3">
                        <div class="me-3">口味:</div>
                        <div class="me-3"><button class="btn btn-sm btn-primary">青</button></div>
                        <div class="me-3"><button class="btn btn-sm btn-primary">青</button></div>
                        <div class="me-3"><button class="btn btn-sm btn-primary">青</button></div>
                        <div class="me-3"><button class="btn btn-sm btn-primary">青</button></div>
                        <div><button class="btn btn-sm btn-primary">青</button></div>
                      </div> -->
                      <div class="d-flex mb-3 align-items-center">
                        <div class="me-2">數量:</div>
                        <div class="btn-group me-3" role="group" aria-label="Basic checkbox toggle button group">
                          <button @click="numCountHandler('pluse')" type="button" class="btn btn-primary">+</button>
                          <input v-model.number="numRangeLimit" type="number" min=1 class="form-control rounded-0" style="width:80px">
                          <button  @click="numCountHandler('minus')" type="button" class="btn btn-primary">-</button>

                        </div>
                        {{watchProduct.unit}}
                      </div>
                      <div class="d-flex justify-content-cnter">
                        <!-- <div class="btn btn-lg btn-primary me-3">+ 立即結帳</div> -->
                        <div @click="addCart" class="btn btn-lg btn-primary">+ 加入購物車</div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">簡介</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">詳細</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">購買流程</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      {{watchProduct.description}}
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      {{watchProduct.content}}
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                      購買流程 ...
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
    </script>

    <script type="module">
      // 因無法引入 loading 改用 vue 直接引入
      // import { createApp } from "https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.9/vue.esm-browser.js";

      // 可以直接看 vueLoading
      // console.log(VueLoading);

      Object.keys(VeeValidateRules).forEach((rule) => {
        if (rule !== "default") {
          VeeValidate.defineRule(rule, VeeValidateRules[rule]);
        }
      });

      VeeValidateI18n.loadLocaleFromURL(
        "https://unpkg.com/@vee-validate/i18n@4.1.0/dist/locale/zh_TW.json"
      );

      // Activate the locale
      VeeValidate.configure({
        generateMessage: VeeValidateI18n.localize("zh_TW"),
        validateOnInput: true, // 調整為輸入字元立即進行驗證
      });

      const apiUrl = "https://vue3-course-api.hexschool.io";
      const apiPath = "pet";

      const app = Vue.createApp({
        data() {
          return {
            loadingStatus: {
              itemLoading: null,
              fullScreeningLoading: false,
            },
            products: null,
            pagination: null,
            tempProductDetail: {},
            currentCartId: null,
            carts: {},
            "data": {
              "user": {
                "name": "test",
                "email": "test@gmail.com",
                "tel": "0912346768",
                "address": "kaohsiung"
              },
              "message": "這是留言"
            },
            user:{
              name:'',
              email:'',
              tel:'',
              addr:'',
              msg:'',
            }
          };
        },
        methods: {
          // 購物車區
          getCart() {
            this.loadingStatus.fullScreeningLoading = true
            axios
              .get(`${apiUrl}/api/${apiPath}/cart`)
              .then((res) => {
                this.loadingStatus.fullScreeningLoading = false
                if (res.data.success) {
                  const { data } = res.data;
                  this.carts = data;
                } else {
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                this.loadingStatus.fullScreeningLoading = false
                console.log(error);
              })
              .finally(()=>{
                this.$refs.openProductDetailModal ?. closeModal();
              });
          },
          // 刪除全部購物車
          deleteAllCart() {
            this.loadingStatus.fullScreeningLoading = true
            axios
              .delete(`${apiUrl}/api/${apiPath}/carts`)
              .then((res) => {
                this.loadingStatus.fullScreeningLoading = false
                if (res.data.success) {
                  alert(res.data.message);
                  this.getCart();
                } else {
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                this.loadingStatus.fullScreeningLoading = false
                console.log(error);
              });
          },
          // 刪除單一購物車
          cartHandler(type, id, product_id, qty) {
            this.currentCartId = id;
            if (type === "put") {
              qty = qty < 1 ? 1 : qty > 999 ? 999 : qty;
            }
            const data = type === "put" ? { product_id, qty } : null;
            this.loadingStatus.fullScreeningLoading = true
            axios[type](`${apiUrl}/api/${apiPath}/cart/${id}`, { data })
              .then((res) => {
                this.loadingStatus.fullScreeningLoading = false
                this.currentCartId = null;
                if (res.data.success) {
                  alert(res.data.message);
                  this.getCart();
                } else {
                  this.currentCartId = null;
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                this.loadingStatus.fullScreeningLoading = false
                console.log(error);
              });
          },
          // 產品列表

          clearTempProductDetail() {
            this.tempProductDetail = {};
          },
          getProductDetail(id) {
            this.loadingStatus.itemLoading = id;
            axios
              .get(`${apiUrl}/api/${apiPath}/product/${id}`)
              .then((res) => {
                this.loadingStatus.itemLoading = null;
                if (res.data.success) {
                  this.tempProductDetail = res.data.product;
                  this.openProductDetailModal();
                } else {
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },
          openProductDetailModal() {
            this.$refs.productDetail.openModal();
          },
          addCart(product_id, qty = 1) {
            const data = { data: { product_id, qty } };
            this.loadingStatus.itemLoading = product_id;
            axios
              .post(`${apiUrl}/api/${apiPath}/cart`, data)
              .then((res) => {
                this.loadingStatus.itemLoading = null;
                if (res.data.success) {
                  alert(res.data.message);
                  this.getCart();
                } else {
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                this.loadingStatus.itemLoading = null;
                console.log(error);
              });
          },
          getProducts(page = 1) {
            this.loadingStatus.fullScreeningLoading = true
            axios
              .get(`${apiUrl}/api/${apiPath}/products?page=${page}`)
              .then((res) => {
                this.loadingStatus.fullScreeningLoading = false
                if (res.data.success) {
                  const { products, pagination } = res.data;
                  this.products = products;
                  this.pagination = pagination;
                } else {
                  this.loadingStatus.fullScreeningLoading = false
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                console.log(error);
              });
          },
          submitOrder(){
            const data = { 
              data:{
                user: {
                    name: this.user.name,
                    email: this.user.email,
                    tel : this.user.tel,
                    address : this.user.addr
                },
                message: this.user.msg,
              }
            }
            this.loadingStatus.fullScreeningLoading = true
            axios
              .post(`${apiUrl}/api/${apiPath}/order`,data)
              .then((res) => {
                this.loadingStatus.fullScreeningLoading = false
                if (res.data.success) {
                  const { message, total ,orderId} = res.data;
                  alert (`${message}, 共$${total}元, 訂單編號: ${orderId}`)
                  this.getCart();
                } else {
                  alert(res.data.message);
                }
              })
              .catch((error) => {
                this.loadingStatus.fullScreeningLoading = false
                console.log(error);
              });
          },
        },
        mounted() {
          this.getProducts();
          this.getCart();
        },
      })
        .component("card", {
          template: `<button class="btn btn-primary">{{name}}</button>`,
          data() {
            return {
              name: "Eric",
            };
          },
        })
        .component("productDetailModal", {
          template: "#productDetailTemplate",
          props: {
            product: {
              type: Object,
            },
          },
          data() {
            return {
              modal: "",
              num: 1,
              watchProduct: {},
            };
          },
          computed: {
            // 產品 num 基數 不是 1 怪怪的 再修正
            numRangeLimit: {
              get() {
                return this.num;
              },
              set(val) {
                this.num = val < 1 ? 1 : val >= 999 ? 999 : val;
              },
            },
          },
          methods: {
            addCart() {
              this.$emit(
                "add-cart",
                this.watchProduct.id,
                this.num
              );
              this.closeModal();
            },
            numCountHandler(type) {
              this.numRangeLimit =
                type === "pluse" ? ++this.numRangeLimit : --this.numRangeLimit;
            },
            openModal() {
              this.modal.show();
            },
            closeModal() {
              this.modal.hide();
              this.num = 1;
              this.$emit("clearTempProductDetail");
            },
          },
          watch: {
            product() {
              this.watchProduct = this.product;
            },
          },
          mounted() {
            this.modal = new bootstrap.Modal(this.$refs.modal);
          },
        })
        .component("pagination", {
          template: "#pagination",
          props: {
            pagination: {
              type: Object,
            },
            // currentPage:{
            //   type: Number,
            // },
            // hasNext:{
            //   type: Boolean,
            // },
            // hasPre:{
            //   type: Boolean,
            // },
            // totalPages:{
            //   type: Number,
            // },
          },
          data() {
            return {
              watchPagination: {
                category: null,
                current_page: null,
                has_next: false,
                has_pre: false,
                total_pages: null,
              },
            };
          },
          watch: {
            pagination: {
              handler() {
                this.watchPagination = { ...this.pagination };
              },
              immediate: true,
            },
          },
          methods: {
            getProducts(page) {
              this.$emit("get-products", page);
            },
          },
        });

      // app.use(VueLoading);
      app.component("loading", VueLoading);

      // 註冊驗證元件
      app.component("vForm", VeeValidate.Form);
      app.component("vField", VeeValidate.Field);
      app.component("errorMessage", VeeValidate.ErrorMessage);

      app.mount("#app");
    </script>
  </body>
</html>
